<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myIncomeLabel" jhiTranslate="kasaApp.income.home.createOrEditLabel">Create or edit a Income</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!income.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="income.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kasaApp.income.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="income.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kasaApp.income.incomeDate" for="field_incomeDate">Income Date</label>
            <div class="d-flex">
                <input id="field_incomeDate" type="datetime-local" class="form-control" name="incomeDate" [(ngModel)]="income.incomeDate"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.incomeDate?.dirty && editForm.controls.incomeDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.incomeDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.incomeDate?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kasaApp.income.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="income.amount" required min="0" />
            <div [hidden]="!(editForm.controls.amount?.dirty && editForm.controls.amount?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.amount?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.min" jhiTranslate="entity.validation.min" translateValues="{ min: 0 }">
                    This field should be at least 0.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.amount?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="kasaApp.income.circle" for="field_circle">Circle</label>
            <select class="form-control" id="field_circle" name="circle" [(ngModel)]="income.circle">
                <option [ngValue]="null"></option>
                <option [ngValue]="circleOption.id === income.circle?.id ? income.circle : circleOption" *ngFor="let circleOption of circles; trackBy: trackCircleById">{{circleOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
