######################
# Project Specific
######################
src/main/resources/config/application-dev.yml
src/main/resources/config/application-prod.yml
/src/main/webapp/content/css/main.css
/src/test/javascript/coverage/
/src/test/javascript/PhantomJS*/

######################
# Node
######################
/node/
node_tmp/
node_modules/
npm-debug.log.*

######################
# SASS
######################
.sass-cache/

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/


######################
# Maven
######################
target/
.mvn/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db


######################
# Mac OSX
######################
.DS_Store
.svn

# Thumbnails
._*


######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# ESLint
######################
.eslintcache
