<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
                <strong>Password changed!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error"  jhiTranslate="password.messages.error">
                <strong>An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <form class="form-horizontal form-material" name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                <div class="form-group">
                    <label class="col-md-12" for="password" jhiTranslate="global.form.newpassword">New password</label>
                    <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                           placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           [(ngModel)]="password" minlength=4 maxlength=50 required>

                    <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                        <span class="help-block with-errors">
                            <ul class="list-unstyled">
                                <li *ngIf="passwordInput.errors.required" jhiTranslate="global.messages.validate.newpassword.required"></li>
                                <li *ngIf="passwordInput.errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength"></li>
                                <li *ngIf="passwordInput.errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength"></li>
                            </ul>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-12" for="confirmPassword" jhiTranslate="global.form.confirmpassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                           placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>

                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <span class="help-block with-errors">
                            <ul class="list-unstyled">
                                <li *ngIf="confirmPasswordInput.errors.required" jhiTranslate="global.messages.validate.confirmpassword.required"></li>
                                <li *ngIf="confirmPasswordInput.errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength"></li>
                                <li *ngIf="confirmPasswordInput.errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength"></li>
                            </ul>
                        </span>
                    </div>
                </div>


                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" [disabled]="passwordForm.form.invalid" type="submit" jhiTranslate="password.form.button"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
