<div>
    <h2>
        <span jhiTranslate="kasaApp.recurringIncome.home.title">Recurring Incomes</span>
        <button class="btn btn-primary float-right jh-create-entity create-recurring-income" [routerLink]="['/', { outlets: { popup: ['recurring-income-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="kasaApp.recurringIncome.home.createLabel">
            Create new Recurring Income
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="recurringIncomes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="kasaApp.recurringIncome.description">Description</span></th>
            <th><span jhiTranslate="kasaApp.recurringIncome.incomeDay">Income Day</span></th>
            <th><span jhiTranslate="kasaApp.recurringIncome.amount">Amount</span></th>
            <th><span jhiTranslate="kasaApp.recurringIncome.circle">Circle</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let recurringIncome of recurringIncomes ;trackBy: trackId">
                <td><a [routerLink]="['../recurring-income', recurringIncome.id ]">{{recurringIncome.id}}</a></td>
                <td>{{recurringIncome.description}}</td>
                <td>{{recurringIncome.incomeDay}}</td>
                <td>{{recurringIncome.amount}}</td>
                <td>
                    <div *ngIf="recurringIncome.circle">
                        <a [routerLink]="['../circle', recurringIncome.circle?.id ]" >{{recurringIncome.circle?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../recurring-income', recurringIncome.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'recurring-income/'+ recurringIncome.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'recurring-income/'+ recurringIncome.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
