<div class="row">
    <div class="col-sm-12">
        <div class="white-box">
            <div class="alert alert-danger" jhiTranslate="reset.request.messages.notfound" *ngIf="errorEmailNotExists">
                <strong>Email address isn't registered!</strong> Please check and try again.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p jhiTranslate="reset.request.messages.info">Enter the email address you used to register.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p jhiTranslate="reset.request.messages.success">Check your emails for details on how to reset your password.</p>
            </div>

            <form *ngIf="!success"  class="form-horizontal form-material" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="col-xs-12" for="email" jhiTranslate="global.form.email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           [(ngModel)]="resetAccount.email" minlength=5 maxlength=100 #emailInput="ngModel" email required>

                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <span class="help-block with-errors">
                            <ul class="list-unstyled">
                                <li *ngIf="emailInput.errors.required" jhiTranslate="global.messages.validate.email.required"></li>
                                <li *ngIf="emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid"></li>
                                <li *ngIf="emailInput.errors.minlength" jhiTranslate="global.messages.validate.email.minlength"></li>
                                <li *ngIf="emailInput.errors.maxlength" jhiTranslate="global.messages.validate.email.maxlength"></li>
                            </ul>
                        </span>
                    </div>
                </div>

                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" [disabled]="resetRequestForm.form.invalid" jhiTranslate="reset.request.form.button">Reset</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
